<!DOCTYPE html>

<html lang='uk' xmlns="http://www.w3.org/1999/html">


    <head>

        <meta charset="utf-8"/>
        <title> Журнал обліку</title>
        <meta name="description" value="Сервіс обліку студентів навчального закладу" />
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <!-- including stlyles just cope it from google search -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="./main.css" />



    </head>



    <body>

        <div class="container">

            <!-- Лого і група -->
            <div id="header" class="row">

                <div class="col-xs-9"> <h1>Сервіс Обліку Студентів</h1>  </div> <!-- Блок на лого  -->

                <div id="group-selector" class="col-xs-3"> <strong> Групи: </strong>   <!-- Блок на кнопку  -->

                    <select>
                        <option value=""> ПЦБ </option>
                        <option value=""> МБГ </option>
                        <option value=""> Всі студенти </option>
                    </select>

                </div>
            </div>

            <!-- Навігація -->
            <div id="subheader" class="row">
                 <div class="col-xs-12">
                     <ul class="nav nav-tabs">
                         <li role="presentation" class="active"><a href="#">Студенти</a></li>
                         <li role="presentation"><a href="#">Відвідування</a></li>
                         <li role="presentation"><a href="#">Групи</a></li>
                     </ul>
                 </div>
            </div>

            <!-- Самі списки і кнопка додати -->
            <div id="column_text" class="row">

                <div class="col-xs-10" id="content_columns">
                    <h2> База студентів </h2>
                    <div class="alert alert-warning">Зміни скасовано.</div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> <a ref="">  # </a> </th>
                                <th> Фото </th>
                                <th><a href="">Прізвище &uarr;</a></th>
                                <th><a href="#">Ім'я</a></th>
                                <th><a href="#">No Білету</a></th>
                                <th> Редагувати </th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                              <td> 1 </td>
                              <td> <img src="" width="30" height="30" class="img-thumbnail"> </td>
                              <td> <a title="Редагувати" href="#"> Винничук </a> </td>
                              <td> <a title="Редагувати" href="#"> Тарас </a> </td>
                              <td> 157 </td>
                              <td>
                                   <div class="dropdown">

                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        Подивитись
                                            <span class="caret"></span>
                                        </button>

                                       <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Відвідування</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редагувати</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Видалити</a></li>
                                       </ul>
                                   </div>
                                </td>
                            </tr>


                            <tr>
                              <td> 2 </td>
                              <td> <img src="" width="30" height="30" class="img-thumbnail"> </td>
                              <td> <a title="Редагувати" href="#"> Коваль </a> </td>
                              <td> <a title="Редагувати" href="#"> Оксана </a> </td>
                              <td> 13 </td>
                              <td>
                                   <div class="dropdown">

                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        Подивитись
                                            <span class="caret"></span>
                                        </button>

                                       <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Відвідування</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редагувати</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Видалити</a></li>
                                       </ul>
                                   </div>
                                </td>
                            </tr>

                            <tr>
                              <td> 3 </td>
                              <td> <img src="" width="30" height="30" class="img-thumbnail"> </td>
                              <td> <a title="Редагувати" href="#"> Марко </a> </td>
                              <td> <a title="Редагувати" href="#"> Іван </a> </td>
                              <td> 45 </td>
                              <td>
                                   <div class="dropdown">

                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        Подивитись
                                            <span class="caret"></span>
                                        </button>

                                       <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Відвідування</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редагувати</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Видалити</a></li>
                                       </ul>
                                   </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                <nav>
                  <ul class="pagination">
                    <li>
                      <a class="disabled" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>

                      <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                      </li>

                  </ul>
                </nav>





                </div>

                <div id="add_button" class="col-xs-2">

                    <a class="btn btn-primary" href="#">Додати нового студента</a>

                </div>

            </div>

            <!-- Футер -->
            <div id="footer" class="row">
                <div class="col-xs-12">  <h6>&copy; 2015 Tlymki production</h6>  </div>
            </div>

        </div>


        <!-- java sript inserting for Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js" /> </script>

        <!-- java sript inserting to body form googlesearch copied -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </body>


</html>

