
h1, h2, h3, h4, h5, h6 { margin-left: 30px; font-weight: bold; }

ul { list-style-image: none; list-style-type: none}


 body { /*background: url("background1.jpg")*/ background-color: rgba(214, 214, 214, 0.12)
 }
.alert {margin-top: 10px; margin-left: auto;}
.layer1 {
    float: left; /* Обтекание по правому краю */
   /* background: #fd0; /* Цвет фона */
   /* border: 1px solid black; /* Параметры рамки */
    /*padding: 10px; /* Поля вокруг текста */
    margin-right: 20px; /* Отступ справа */
    margin-top: 5px; /* Отступ зверху */
    width: 15%; /* Ширина блока */
   }
.one_line { display: inline}


#footer { border-top: 3px solid #337ab7;
          padding-top: 5px;}

#group-selector, #add_button { padding-top: 20px;}

#group-selector {
margin: 10px 0;
}
#group-selector select {
margin: 0;
width: 85%;
background-color: #ffffff;
border: 1px solid #cccccc;
height: 30px;
line-height: 30px;
color: #555555;
}

#month { margin-left: 45%;}
/*#form_edit { margin-left: 30%} */


